@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-image: url("./images/bg-desktop.svg");
  background-size: cover;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--violet);
}

p {
  color: var(--soft-magenta);
}
